version: '2.3'
services:
  app:
    image: 'haydenbr/docker-js-starter:0.0.0'
    ports:
      - '3000:3000'
    volumes:
      - './package.json:/opt/app/package.json'
      - './src:/opt/app/src'
    command:
      - yarn
      - serve
  app-task:
    extends: app
    volumes:
      - './docker-compose.yml:/opt/app/docker-compose.yml'
      - './scripts:/opt/app/scripts'
      - './www:/opt/app/www'
      - './yarn.lock:/opt/app/yarn.lock'
